body{
	positionion: relative;
	height: 100vh;
}



body::after {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.header{
	width: 960px;
	background : #9966ff;
	margin: 50px auto;
	padding: 50px;
	text-align: center;
	color: #ff0000;
	font-size:24px;
	border: 2px solid #cc0000;
	border-radius: 200px;
}
.h1{
	color: #000000;
	font-size:24px;
}

.text{
	color: #000000;
	front-size:16px;
}	
.link{
	color: #000000;
	front-size: 24px;
}

.link:hover {
	color: #000000;
	text-decoration: underline;
}
.feetback{
	border: 2px solid #000000;
	border-radius: 200px;
	width: 960px;
	margin: 50px auto;
	padding: 50px;
	text-align: center;
	background : #9966ff;
}
.container{
	position: relative;
	z-index: 1;
	border: 2px solid #000000;
	width: 960px;
	font-size:24px;
}
.form {
	text-alagn: center;
}
.form__input{
	display: block;
	margin: auto;
	margin-bottom: 10px;
	background: white;
	width: 400px;
	border: 1px solid;
	font-size:14px;
	padding: 10px 4px;
}

.form__button{
	width: 400px;
	background: black;
	padding: 10px;
	font-size:14px;
	border: 0;
	color: white;
}
.window{
	width: 400px;
	background: white;
	border: 3px solid;
	font-size:14px;
	padding: 10px 4px;
	margin: auto;
	display: block;
	margin-bottom: 10px;
	border-radius: 10px;
}
	
.select{
	width: 400px;
	background: white;
	border: 2px solid;
	font-size:14px;
	padding: 10px 4px;
	margin: auto;
	display: block;
	margin-bottom: 10px;
	border-radius: 10px;
	
	
	
	
	
	
	